.success {
    background-color: #FAFAFB;
    color: #4F4F4F;
    font-weight: 500;
    min-height: 100vh;
    padding: 0 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .success_container {
        background-color: #fff;
        border-radius: 12px;
        padding: 2rem;
        height: fit-content;
        max-width: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 12px rgba($color: #000000, $alpha: 0.1);
        .success_top {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .icon {
              font-size: 33px;
              font-weight: 500;
              font-style: normal;
              line-height: 27px;
              padding-bottom: 0.6rem;
              i {
                color: #219653;
              }
            }
            h2 {
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                padding-bottom: 1rem;
            }
        }
        .success_img {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 1.5rem;
            img {
                max-width: 100%;
                height: auto;
                border-radius: 12px;
            }
        }
        .link {
            display: grid;
            grid-template-columns: 3.4fr 0.6fr;
            width: 100%;
            background-color: #F6F8FB;
            border: solid 1px #E0E0E0;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            textarea {
                font-size: 9px;
                font-weight: 500;
                line-height: 12px;
                text-align: center;
                align-self: center;
                justify-self: center;
                padding-left: 4px;
                padding-top: 4px;
                padding-right: 7px;
                resize: none;
                border: none;
                outline: none;
                background-color: transparent;
                color: #828282;
                width: 100%;
                font-family: inherit;
            }
            button {
                background-color: #2F80ED;
                font-size: 11px;
                color: #fff;
                padding: 8px 10px;
                border-radius: 8px;
                border: none;
                outline: none;
                cursor: pointer;
                font-family: inherit;
                transition: all 0.4s linear;
                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }
            }
            .copy {
                position: absolute;
                bottom: 3px;
                right: 50px;
                background-color: rgba(0, 0, 0, 0.5);
                color: #EAEAEA;
                border-radius: 3px;
                font-size: 9px;
                font-weight: 500;
                line-height: 12px;
                padding: 4px;
            }
        }
    }
}

@media (max-width: 480px) {
    .success {
      .success_container {
        padding: 1.5rem 1.2rem;
        
      }
    }
}